header span{
  font-family: 'Cairo', sans-serif;
}

a {
color: white;
  text-decoration: none;
}

body{
  font-family:'Cairo', sans-serif ;
}
span{
  color: gold;
}
.navbar a:hover{
  color: gold;
}

.navbar{
  background-color:black;
}

#pic{
  height: 400px;
  width: 642px;
  position: relative;
}

.textonpic{
  color: black;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 100%;
}


