header span{
  font-family: 'Cairo', sans-serif;
}

a {
color: white;
  text-decoration: none;
}

body{
  font-family:'Cairo', sans-serif ;
}
span{
  color: gold;
}
.navbar a:hover{
  color: gold;
}

.navbar{
  background-color:black;
}


